   body {
    text-align: center;
    background-color: lightyellow;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  #b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9 {
    height: 125px;
    width: 125px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px black;
    font-size: 55px;
    color: #b0413e;
    background-color: black;
    text-align: center;
  }

  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  /* .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  } */
  
  .hide {
    display: none;
  }
  p{
    font-size: 30px;
  }